@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

header {
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #e4e4e7;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headertitle {
    margin-left: 15px;
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.sidebar-separator {
    height: 2px;
    background-color: #e4e4e7;
    width: 100%;
    margin-top: 10px;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
}

.appheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
    margin-bottom: 0px;
    margin-top: 30px;
}

.appheadertitle {
    margin-left: 15px;
    font-family: 'Figtree', sans-serif;
    font-size: 25px;
    font-weight: 500;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Figtree', sans-serif;
    width: 100vw;
    height: 100dvh;
    position: fixed;
    top: 0px;
    left: 0px;
    color: #666666;
    font-size: 16px;
    user-select: none;
}

.mainrow {
    display: flex;
    flex-direction: row;
    height: calc(100% - 50px);
}

.sidebar {
    width: 250px;
    color: #666666;
    font-size: 16px;
    font-family: 'Figtree', sans-serif;
}

.sidebar-user-name {
    font-size: 22px;
}

.sidebar-user-email {
    font-size: 16px;
    color: #999999;
}

.sidebar-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 15px;
}

.sidebar-user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #e4e4e7;
    background-color: #ffffff;
}

.sidebar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    gap: 15px;
    font-size: 16px;
    padding: 10px;
    padding-left: 20px;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.sidebar-item:hover {
    background-color: #00000010;
}

.sidebar-item[active="true"] {
    background-color: #2ac6882c;
    color: #177952;
}

.listitem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    gap: 15px;
    font-size: 16px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 30px);
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#userlist {
    width: calc(100% - 30px);
    height: 100%;
    padding: 15px;
    padding-top: 5px;
}

.maincontent {
    width: 100%;
    flex: 1;
}

.listitem:hover {
    background-color: #00000010;
}

.listitem[active="true"] {
    background-color: #2ac6882c;
    color: #177952;
}

.listfilters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
    margin-left: 30px;
    margin-bottom: 0px;
    gap: 15px;
}

.listfilters input {
    width: 200px;
    padding: 0px 15px;
    border-radius: 5px;
    border: 1px solid #e4e4e7;
    height: 35px;
    font-family: Figtree;
}

.listfilters select {
    width: 200px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #e4e4e7;
    height: 37px;
    font-family: Figtree;
}

.listfilters button {
    padding: 5px 15px;
    border-radius: 5px;
    height: 37px;
    border: 0px solid #e4e4e7;
    background-color: #2ac688;
    color: #ffffff;
    font-family: Figtree;
}

.listtitle {
    margin-left: 30px;
    font-size: 16px;
    color: #999999;
    margin-top: 10px;
}


